<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<style media="screen">
			.dialog-panel {
				position: fixed;
				left: 50%;
				width: 500px;
				margin-left: -250px;
				z-index: 99;
				display: none;
			}

			.dialog-shadow {
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.3;
				z-index: 98;
				display: none;
			}
		</style>
	</head>

	<body>
		<%- include('components/tabs.ejs') %>

		<button type="button" id="btn_add" class="btn btn-default">添加</button>

		<!-- 添加 -->
		<div class="dialog-shadow" id="shadow"></div>
		<div class="panel panel-default dialog-panel" id="dialog">
			<div class="panel-heading">
				<h2 class="panel-title">
					添加
					<a href="javascript:void(0)" class="glyphicon glyphicon-remove pull-right" id="btn_close"></a>
				</h2>
			</div>
			<div class="panel-body">
				<!--内容-->
				<form action="/admin/<%= name %>" method="POST" enctype="multipart/form-data">
					<% for(let name in fields) { %>
					<div class="form-group">
						<label for="<%= name %>"> <%= fields[name].title %> </label>
						<% switch(fields[name].type) { case 'textarea': %>
						<textarea class="form-control" name="<%= name %>" id="<%= name %> " cols="30" rows="10" placeholder="请输入<%= fields[name].title %>"></textarea>
						<% break; case 'fields': %>
						<div class="fields" id="fields_<%= name %>">
							<div class="row">
								<div class="col-xs-4"><input type="text" name="<%= name %>_key" class="form-control" placeholder="请输入字段名称" /></div>
								<div class="col-xs-8"><input type="text" name="<%= name %>_value" class="form-control" placeholder="请输入字段值" /></div>
							</div>
						</div>
						<button class="btn btn-default" type="button" onclick="addField('fields_<%= name %>', '<%= name %>')">添加</button>
						<% break; case 'files': %>
						<input type="file" multiple class="form-control" id="<%= name %>" name="<%= name %>" placeholder="请输入<%= fields[name].title %>" />
						<% break; default: %>
						<input type="<%= fields[name].type %>" class="form-control" id="<%= name %>" name="<%= name %>" placeholder="请输入<%= fields[name].title %>" />
						<% break; } %>
					</div>
					<% } %>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">提交</button>
						<button type="button" class="btn btn-default" id="btn_cancel">取消</button>
					</div>
				</form>
			</div>
		</div>

		<!-- 修改 -->
		<div class="dialog-shadow" id="shadow2"></div>
		<div class="panel panel-default dialog-panel" id="dialog2">
			<div class="panel-heading">
				<h2 class="panel-title">
					修改
					<a href="javascript:void(0)" class="glyphicon glyphicon-remove pull-right" id="btn_close2"></a>
				</h2>
			</div>
			<div class="panel-body">
				<!--内容-->
				<form id="form_mod" action="/admin/<%= name %>" method="POST" enctype="multipart/form-data">
					<% for(let name in fields) { %>
					<div class="form-group">
						<label for="<%= name %>_mod"> <%= fields[name].title %> </label>
						<% switch(fields[name].type) { case 'textarea': %>
						<textarea class="form-control" name="<%= name %>" id="<%= name %>_mod " cols="30" rows="10" placeholder="请输入<%= fields[name].title %>"></textarea>
						<% break; case 'fields': %>
						<div class="fields" id="fields_<%= name %>_mod">
							<div class="row">
								<div class="col-xs-4"><input type="text" name="<%= name %>_key" class="form-control" placeholder="请输入字段名称" /></div>
								<div class="col-xs-8"><input type="text" name="<%= name %>_value" class="form-control" placeholder="请输入字段值" /></div>
							</div>
						</div>
						<button class="btn btn-default" type="button" onclick="addField('fields_<%= name %>_mod', '<%= name %>')">添加</button>
						<% break; case 'files': %>
						<input type="file" multiple class="form-control" id="<%= name %>_mod" name="<%= name %>" placeholder="请输入<%= fields[name].title %>" />
						<% break; default: %>
						<input type="<%= fields[name].type %>" class="form-control" id="<%= name %>_mod" name="<%= name %>" value="" placeholder="请输入<%= fields[name].title %>" />
						<% break; } %>
					</div>
					<% } %>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">修改</button>
						<button type="button" class="btn btn-default" id="btn_cancel2">取消</button>
					</div>
				</form>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>
						<input type="checkbox" id="check_all" />
					</th>
					<th>ID</th>
					<% for(let name in fields) { %> <% if (fields[name].show_in_table !==false) { %>
					<th><%= fields[name].title %></th>
					<% } %> <% } %>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<%datas.forEach((data,index)=>{%>
				<tr>
					<td>
						<input type="checkbox" value="<%=data.ID%>" name="check_id" />
					</td>
					<td><%=data.ID%></td>
					<% for(let name in fields){%> <% if(fields[name].show_in_table!==false){ %>
					<td><%=data[name]%></td>
					<% } %> <%}%>
					<td>
						<button type="button" class="btn btn-default" onclick="mod_data(datas[<%=index%>])">修改</button>
						<button type="button" class="btn btn-danger" onclick="del_data(<%= data.ID %>)">删除</button>
					</td>
				</tr>
				<%})%>
			</tbody>
		</table>
		<button type="button" id="btn_del" class="btn btn-danger">删除</button>
		<% if (page_count> 1) { %>
		<nav>
			<ul class="pagination">
				<% if (page> 1) { %>
				<li>
					<a href="/admin/<%= name %>/<%= page - 1 %>">
						<span>&laquo;</span>
					</a>
				</li>
				<% } %> <% for( let i=1; i <=page_count; i++ ) { %> <% if (i===page) { %>
				<li class="active"><a href="javascript:void(0)"> <%= i %> </a></li>
				<% } else { %>
				<li><a href="/admin/<%= name %>/<%= i %> "> <%= i %> </a></li>
				<% }%> <% } %> <% if (page < page_count) { %>
				<li>
					<a href="/admin/<%= name %>/<%= page + 1 %>">
						<span>&raquo;</span>
					</a>
				</li>
				<% } %>
			</ul>
		</nav>
		<% } %>

		<script>
			const datas = <%-JSON.stringify(datas)%>;
			const fields = <%-JSON.stringify(fields)%>;
			const name = '<%- name %>';


			let oBtn = document.querySelector('#btn_add')
			let oShadow = document.querySelector('#shadow')
			let oDialog = document.querySelector('#dialog')
			let oClose = document.querySelector('#btn_close')
			let oCancel = document.querySelector('#btn_cancel')
			oBtn.onclick = function () {
				oShadow.style.display = 'block'
				oDialog.style.display = 'block'
			}
			oClose.onclick = oCancel.onclick = function () {
				oShadow.style.display = 'none'
				oDialog.style.display = 'none'
			}
			function addField(id, name) {
				let oParent = document.querySelector(`#${id}`)
				let row = document.createElement('div')
				row.className = 'row'
				row.innerHTML = `<div class="col-xs-4"><input type="text" name="${name}_key" class="form-control" placeholder="请输入字段名称" /></div><div class="col-xs-8"><input type="text" name="${name}_value" class="form-control" placeholder="请输入字段值" /></div>`
				oParent.appendChild(row)
			}
			function mod_data(old_data) {
				let dialog = document.querySelector('#dialog2')
				let shadow = document.querySelector('#shadow2')
				let btn_close = document.querySelector('#btn_close2')
				let btn_cancel = document.querySelector('#btn_cancel2')
				let form = document.querySelector('#form_mod')
				form.action = `/admin/<%= name %>/${old_data.ID}`
				dialog.style.display = 'block'
				shadow.style.display = 'block'
				btn_cancel.onclick = btn_close.onclick = function () {
					dialog.style.display = 'none'
					shadow.style.display = 'none'
				}
				// 填充数据
				let eles = document.getElementsByTagName('*')
				Array.from(eles).forEach(ele=>{
			     let name=ele.name;
			     if(fields[name]){
			      if(ele.type=='file'){
			       }else{
			         ele.value=old_data[name];
			       }
			     }
			   })
				for (const name in fields) {
					if (fields[name].type === 'fields') {
							 let arr = old_data[name].split(',')
							 let parent = document.querySelector(`#fields_${name}_mod`)
							 parent.innerHTML = ''
							 arr.forEach(str => {
								 let oDiv = document.createElement('div')
								 oDiv.className = 'row'
								 let [key, value] = str.split('|')
								 oDiv.innerHTML = `
								 	<div class="col-xs-4"><input type="text" name="${name}_key" class="form-control" value="${key || ''}"/></div>
									<div class="col-xs-8"><input type="text" name="${name}_value" class="form-control" value="${value || ''}"/></div>
								 `
								 parent.appendChild(oDiv)
							 })
					}
				}
			}
			function del_data(id) {
				if (confirm('确定删除数据？')) {
					window.location = `/admin/del${name}/${id}`
				}
			}
			let aCheck=Array.from(document.getElementsByName('check_id'));
			 let oBtnDel=document.getElementById('btn_del');
			 oBtnDel.onclick=function (){
			   let ids=aCheck.filter(ch=>ch.checked).map(ch=>ch.value);

			   if(ids.length==0){
			     alert('请选择要删除的数据');
			   }else{
			     if(confirm(`确定删除这${ids.length}个数据吗?`)){
			       window.location=`/admin/del${name}/${ids.join('|')}`;
			     }
			   }
			 };

			 let oCheckAll=document.getElementById('check_all');

			 oCheckAll.onclick=function (){
			   let b=this.checked;
			   aCheck.forEach(ch=>{
			     ch.checked=b;
			   });
			 };
		</script>
	</body>
</html>
